<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>

<div class="row">
  <div class="col-xs-offset-3">
    <ul>
      <li>Name：<%= @user.name %></li>
      <li>Profile：<%= @user.profile %></li>
      <li>Location：<%= @user.location %></li>
    </ul>
    <% if logged_in? && @user == current_user %>
      <p style="text-align: right;"><%= link_to "登録情報を変更する", edit_user_path(@user) %></p>
    <% end %>
  </div>
</div>

